$first_black: #212121;
$first_white: #E3F2FD;
$blue: #00B0FF;
$green: #00E676;
$red: #E64A19;
$pink: #C51162;
$yellow: #FFFF00;
$grey: #BDBDBD;
$purple: #9C27B0;
$orange: #FF9800;
$lime: #C6FF00;
$indigo: #304FFE;
$purple_bg: #CE93D8;
$pink_bg: #F48FB1;
$green_bg: #A5D6A7;
$blue_bg: #4FC3F7;

@mixin margin($horizontal, $vertical) {
	margin: $vertical $horizontal;
}
@mixin padding($horizontal, $vertical) {
	padding: $vertical $horizontal;
}


