@import '_var.scss';
@import '_reset.scss';

.interface {
	background-color: #BDBDBD;
	@include margin(10px, 15px);
	@include padding(10px, 5px);
}
.success {
	@extend .interface;
	background-color: $green_bg;
	color: $first_black;

	&:hover {
		background-color: $indigo;
	}
}
.error {
	@extend .interface;
	background-color: $orange;
	color: $first_black;

	&:hover {
		background-color: $red;
	}
}
.warning {
	@extend .interface;
	background-color: $lime;
	color: $first_black;

	&:hover {
		background-color: $pink_bg;
	}
}